<header>
  <div class="navbar bg-base-300">
    <div class="flex-1">
    <%= link_to graduation_albums_path, class:"btn btn-ghost normal-case text-xl" do %>
      <%= image_tag 'header_logo.png'%>
    <% end %>
    </div>
    <div class="flex-none px-6">
      <%= link_to 'ログイン / 新規登録', '/auth/auth0', method: :post %>
  </div>
</header>

  