<header>
  <div class="navbar bg-base-300">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Web卒アル</a>
    </div>
    <div class="flex-none">
        <button class="btn btn-outline"><%= link_to "新規登録", signup_path %></button>
        <button class="btn btn-outline"><%= link_to "ログインする", login_path %></button>
  </div>
</header>

  