<header>
  <div class="navbar bg-green-100">
    <div class="flex-1">
      <%= link_to 'Web卒アル', graduation_albums_path, class:"btn btn-ghost normal-case text-xl" %>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end" id='profile'>
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%= image_tag current_user.avatar.to_s %>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              <%= link_to "プロフィール", users_show_path %>
            </a>
          </li>
          <li><%= link_to "ログアウト", logout_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>