
<ol class="relative border-l border-gray-200 dark:border-gray-700">                  
  <%= render events %>
</ol>

<div class='text-center'>
<button class="btn btn-outline"><%= link_to 'イベントを作成', new_graduation_album_event_path(@graduation_album) %></button>
</div>