<% breadcrumb :event_show, @event.graduation_album, @event %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"><%= @event.title %></h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto"><%= @event.description %></p>
    </div>
    <!-- text - end -->

    <div class="grid sm:grid-cols-2 gap-6">
      <!-- product - start -->
      <% @event.event_photos.each do |photo| %> 
        <div class="group h-80 flex items-end bg-gray-100 rounded-lg overflow-hidden shadow-lg relative p-4">
          <%= image_tag photo, loading:"lazy", alt:"Photo by Fakurian Design", class:"w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" %>

          <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>
        </div>
      <% end %>
      </div>
      <!-- product - end -->
    </div>
  </div>
</div>
