<div class="mb-10 md:mb-16">
  <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6">メンバーランキング</h2>
  <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">〇〇になりそうな人ランキングを作成しよう</p>
</div>
<%= render ranks %>