<div class="grid grid-cols-2 gap-4">
  <%= render @ranks %>
</div>
<div class='text-center'>
  <button class="btn btn-outline"><%= link_to 'ランキングを作成', new_graduation_album_rank_path(graduation_album) %></button>
</div>