<div class="max-w-screen-xl px-2 md:px-4 mx-auto pt-8">
  <div id="js-table-event_comment" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-2" >
    <%= render event_comments %>
  </div>
</div>