<div class="rounded-lg bg-white py-6 sm:py-8 lg:py-12 border-solid border-2 border-pink-500">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row rounded-lg overflow-hidden">
      <!-- content - start -->
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="text-pink-500 text-xl md:text-2xl lg:text-4xl font-bold mb-4">アルバム作成</h2>
        <p class="max-w-md text-pink-500">アルバム名とメンバーを招待するだけで簡単作成</p>
        <p class='text-pink-500'>写真も投稿してもらうと華やかなアルバムに仕上がります</p>
        <p class='text-pink-500'>アルバム内のコンテンツを増やして盛り上げよう</p>
      </div>
      <!-- content - end -->
      <!-- image - start -->
      <div class="w-full sm:w-1/2 lg:w-2/5 h-48 sm:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag 'album.png',class:"w-full h-full object-cover object-center" %>
      </div>
      <!-- image - end -->
    </div>
  </div>
</div>