<div class="rounded-lg bg-white py-6 sm:py-8 lg:py-12 border-solid border-2 border-green-600">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row rounded-lg overflow-hidden">
      <!-- image - start -->
      <div class="w-full sm:w-1/2 lg:w-2/5 h-48 sm:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag 'suprise.png',class:"w-full h-full object-cover object-center" %>
      </div>
      <!-- image - end -->
      <!-- content - start -->
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="text-green-600 text-xl md:text-2xl lg:text-4xl font-bold mb-4">サプライズメッセージ</h2>
        <p class="max-w-md text-green-600">日付を指定して未来のメンバーにメッセージを送ろう</p>
        <p class='text-green-600'>メッセージの中身は指定された日になるまで見ることはできません</p>
        <p class='text-green-600'>離れてからもメンバーを思い出すきっかけを作ろう！</p>
      </div>
      <!-- content - end -->
    </div>
  </div>
</div>