<div class="bg-white py-3 sm:py-4 lg:py-6">
  <div class="max-w-screen-2xl px-2 md:px-4 mx-auto">
    <!-- text - start -->
    <div class="flex justify-center items-center pb-6">
      <div class="flex flex-col border-dotted border-4 border-green-100 bg-opacity-50 px-10 py-3">
        <i class="fa-solid fa-book-open fa-5x"></i>
        <div class="py-3"><p>あなたの大切な思い出をアルバムに</p></div>
        <%= link_to new_graduation_album_path, class:"btn btn-success" do %>
          <i class="fa-solid fa-plus fa-lg pr-2 "></i>作成する
        <% end %>
      </div>
    </div>

    <div class="grid sm:grid-cols-2 gap-6">
      <% if @graduation_albums.present? %>
        <%= render @graduation_albums %>
      <% else %>
        <p>投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>
