<div class="max-w-screen-2xl px-2 md:px-4 mx-auto">
  <div id="js-table-message_for_each_menber" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6" >
    <%= render message_for_each_menbers %>
  </div>
</div>